
:root {
    --background-color: lightblue;
    --glass-color: rgba(82, 161, 230, 0.25);
    --glass-border: rgba(82, 161, 230, 0.3);
}
html {
    scroll-snap-type: x mandatory;
}
section {
    padding: 10px;
    /* min-height: 100vh; */
}
section:last-child .glass {
    padding-bottom: 0px;
}
body {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 600;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: var(--background-color);
    background-image: url('../img/wallpaper.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-size: 100%;
    background-position: center;
}
#hparent {
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 90vh;
    margin: auto;
    transition: all 1fs;
}
#hello {
    width: 70%;
    margin: auto;
    font-size: 6em;
    rotate: 20deg;
    transition: all 2s;
    text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 3px black;
}
#hello.hide {
    transform: translate(-100vw,-30vh);
    transition: all 2s;
}
#robot {
    height: 60%;
    margin: auto;
    margin-right: 10px;
    transition: all 2s;
}
#robot.hide {
    transform: translate(100vw,-30vh);
    transition: all 2s;
}
#hparent.hide {
    transform: translateY(-100vh);
    transition: all 2s;
}
.glass {
    background: var(--glass-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid var(--glass-border);
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    height: fit-content;
    transition: all 2s;
}
@media screen and (max-width:1500px) {
    body {
        background-size: auto;
    }
}
@media screen and (max-width:600px) {
    * {
        font-size: small;
    }
    #hparent {
        display: inline-block;
        height: 90vh;
    }
    #hello {
        font-size: 2em;
        margin: calc(20vh -  1em) auto 10vh auto;
    }
    #robot {
        width: 70vw;
        aspect-ratio: 1 / 1;
    }
    .glass {
        width: 77%;
    }
    #face {
        display: none;
    }
}
@media only screen and (min-width:600px) {
    #face {
        border: 3px solid white;
        border-radius: 16px;
        float: right;
        max-height: 10em;
    }
}
hr {
    background-color: white;
}
.glass.right {
    border-right:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -10px;
    padding-right: 15px;
    width: 15px;

    height: fit-content;
    transition: all 1s;
    display: flex;
}
#menu {
    top: 10px;
    right: 0px;
    position: fixed;
    text-orientation: upright;
    writing-mode: vertical-lr;
}
.menu-item {
   display: none;
   writing-mode: horizontal-tb;
   margin: 5px 0px;
   transition: all 0.5s;
}
.menu-item:hover {
    text-indent: 5px;
    transition: all 0.5s;
    text-shadow: -1px 0 black, 0 1px black, 0.5px 0 black, 0 -3px black;
}
.menu-decor {
    width: 0px;
    height: 0px;
    border:0px;
}
#menu:hover .menu-decor {
    width: inherit;
    border: 1px solid white;
}
#menu:hover .menu-item{
   display: inline-block;
}
.fix {
    height: var(--height);
}
#name {
    margin: 10px 0px 0px 0px;
}
#foglalkozas {
    margin: 0px 0px 10px 0px;
    text-transform: lowercase;
}
a {
    text-decoration: none;
}
#menu:hover {
    display: inline;
    writing-mode: horizontal-tb;
    width: 150px;
}
.fa-arrow-circle-left {
    width: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0.7em 0.7em 2em black;
    transition: all 3s;
}
i {
    margin-right: 10px;
    font-size: x-large;
}
.form-row.full {
    width: calc(100% - 20px);
    margin: 10px;
}
.form-row.half {
    width: calc(50% - 22.5px);
    display: inline-block;
    margin: 0px 10px;
}
.form-row > input, textarea {
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    margin: 5px 0px;
    padding: 0px 10px;
    height: 25px;
    width: calc(100% - 20px);
}
button {
    border: 1px solid rgba(82, 161, 230, 0.3);
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 0px 10px;
    font-size: large;
    height: 35px;
    width: 30%;
    background-color: rgba(82, 161, 230, 0.3);
    color: white;
    box-shadow: 0.7em 0.7em 2em black;
    transition: all 2s;
}
button:active, .fa-arrow-circle-left:active {
    box-shadow: 0.1em 0.1em 1em white;
    transform: translate(1.5em,1.5em);
    background-color: var(--glass-color);
}
textarea {
    height: calc(4em + 10px);
    padding: 10px;
}
#contactdata {
    display: inline-flex;
    flex-wrap: wrap;
}
#contactdata > span {
    width: max-content;
    margin: 0px 10px;
    text-align: left;
    word-wrap: normal;
}
.center {
    text-align: center;
}
::-webkit-scrollbar {
    background-color: black;
    background-image: linear-gradient(black,var(--glass-color) 60%,black);
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: var(--glass-color);
    border-radius: 16px;
    border: 1px solid var(--glass-border);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}